/* .content{
    margin: 20px;
    justify-content: space-evenly;

   
}
.example-card{
    margin-bottom: 20px;
    max-width: 350px;
    
}
.example-card img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 16px;
    transition: 0.4s ease-in-out;
}
.example-card img:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
} */

table, th, td{
    text-align: center;
}

