:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 350px;
}
mat-drawer-content{
    padding: 20px;
}
mat-drawner-container{
    height: 100%;
}
app-footer{
    height: 70px;
}
